.input{
   background: $white;
   border: 1px solid $glacial-white;
   box-sizing: border-box;
   border-radius: 5px;
   width: 290px;
   display: inline-block;
   font-family: $font1;
  padding: 0.5em 0.7em;

  &--textarea{
    height: rem(128);
    resize: none;
  }
 }

.label{
  font-family: $font2;
  font-style: normal;
  font-weight: bold;
  font-size: rem(16);
  line-height: 27px;
  padding-right: 1rem;
  color: $black;
  width: 145px;
}